<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Components / Cards - NiceAdmin Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/assets/img/favicon.png" rel="icon">
  <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/assets/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/assets/css/style.css" rel="stylesheet">
  <link href="/assets/css/table.css" rel="stylesheet">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

      <script th:inline="javascript">

          $(document).ready(function(){
              $("#searchBtn").on("click",function(e) {
                  e.preventDefault();
                  page(0);
              });
          });

          function page(page){
              var searchDateType = $("#searchDateType").val();
              var searchRoomType = $("#searchRoomType").val();
              var searchQuery = $("#searchQuery").val();

              location.href="/admin/rooms/" + page + "?searchDateType=" + searchDateType
              + "&searchRoomType=" + searchRoomType
              + "&searchQuery=" + searchQuery;
          }

      </script>

  <header th:replace="fragment/common :: header"></header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside th:replace="fragment/common:: sidebar">

  </aside>


  <main id="main" class="main">


    <div class="container-xl">
      <div class="table-responsive">
        <div class="table-wrapper">
          <div class="table-title">
            <div class="row">
              <div class="col-sm-8"><h2>Room <b>Details</b></h2></div>
              <div class="col-sm-4">
              </div>
            </div>
          </div>

          <form th:action="@{'/admin/rooms/' + ${rooms.number}}" role="form" method="get" th:object="${rooms}">

            <div class="form-inline justify-content-end mb-3" th:object="${roomSearchDto}">
              <select th:field="*{searchDateType}" class="form-control" style="width:auto;">
                <option value="all">Period</option>
                <option value="1d">1 day</option>
                <option value="1w">1 week</option>
                <option value="1m">1 month</option>
                <option value="6m">6 month</option>
              </select>
              <select th:field="*{searchRoomType}" class="form-control" style="width:auto;">
                <option value="">RoomType</option>
                <option value="SINGLE">Single</option>
                <option value="DOUBLE">Double</option>
                <option value="QUEEN">Queen</option>
                <option value="SUITE">Suite</option>
              </select>
              <input th:field="*{searchQuery}" type="text" class="form-control" placeholder="Search&hellip;">
              <button id="searchBtn" type="submit" class="btn btn-primary">검색</button>
            </div>

            <table class="table table-striped table-hover table-bordered">
            <thead>
            <tr>
              <th>Room.No</th>
              <th>Name</th>
              <th>Type</th>
              <th>MaxGuest</th>
              <th>PricePerNight</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="room, status: ${rooms.getContent()}">
              <td th:text="${room.id}"></td>
              <td>
                <a th:href="'/admin/room/'+${room.id}" th:text="${room.roomNm}"></a>
              </td>
              <td th:text="${room.roomType}"></td>
              <td th:text="${room.maxPeople}"></td>
              <td th:text="${room.pricePerNight}"></td>
              <td>
                <a href="#" class="view" title="View" data-toggle="tooltip"><i class="material-icons">&#xE417;</i></a>
                <a href="#" class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                <a href="#" class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
              </td>
            </tr>
            </tbody>
          </table>
          </form>

            <div class="clearfix">
              <div class="add-new justify-content-end">
                <button type="button" class="btn btn-info add-new" onClick="location.href='/admin/room/new'"><i class="fa fa-plus"></i> Add Room</button>
              </div>
              <ul class="pagination justify-content-center" >
                <li class="page-item disabled"><a href="#"><i class="fa fa-angle-double-left"></i></a></li>
                <li class="page-item"><a href="#" class="page-link">1</a></li>
                <li class="page-item"><a href="#" class="page-link">2</a></li>
                <li class="page-item active"><a href="#" class="page-link">3</a></li>
                <li class="page-item"><a href="#" class="page-link">4</a></li>
                <li class="page-item"><a href="#" class="page-link">5</a></li>
                <li class="page-item"><a href="#" class="page-link"><i class="fa fa-angle-double-right"></i></a></li>
              </ul>
            </div>

        </div>
      </div>
    </div>


  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>NiceAdmin</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/chart.js/chart.min.js"></script>
  <script src="assets/vendor/echarts/echarts.min.js"></script>
  <script src="assets/vendor/quill/quill.min.js"></script>
  <script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>